@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: hsl(202, 86%, 94%);
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center; 
    height: 100vh;
}

.container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    width: 1200px;
    height: 600px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.calculator-area {
    padding: 40px;
    width: 600px;
    box-sizing: border-box;
}

.calculator-area__header {
    display: flex;
    justify-content: space-between;
}

.calculator-area__header--clear {
    color: hsl(200, 26%, 54%);
    font-weight: 100;
    text-decoration: underline;
    cursor: pointer;
}

#calculator-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;    
}

.calculator-form__label {
    color: hsl(200, 24%, 40%);
    margin-bottom: 30px;
}

.calculator-form__field-area {
    margin-bottom: 20px;
}

.calculator-form__term-and-rate {
    display: flex;
    gap: 20px;
}

.calculator-form__input-group {
    display: flex;
    align-items: center;
    border: 1px solid hsl(202, 55%, 16%);
    border-radius: 5px;
    overflow: hidden;
    width: 248px;
}

.calculator-form__input-criteria {
    background-color: hsl(202, 86%, 94%);
    padding: 10px;
    color:hsl(200, 24%, 40%);
    font-weight: 600;
}

input {
    border: none;
    padding: 10px;
    flex: 1;
    font-size: 16px;
    outline: none;
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.calculater_form__radio-button {
    border: 1px solid hsl(200, 24%, 40%);
    border-radius: 5px;
    background-color: hsl(0, 0%, 100%);
    padding: 10px;
}

.calculater_form__radio-button input:checked {
    border: 1px solid hsl(61, 70%, 52%);
    background-color: hsl(61, 70%, 90%);
}

.calculator-form__submit-button {
    width: 70%;
    padding: 15px;
    font-size: 16px;
    color: hsl(202, 55%, 16%);
    background-color: hsl(61, 70%, 52%);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 700;
}

.calculator-form__submit-button:hover {
    background-color: hsl(4, 69%, 50%);
}

.result-area {
    width: 600px;
    background-color:hsl(202, 55%, 16%) ;
    padding: 40px;
    box-sizing: border-box;
}

h2 {
    margin: 0;
    padding: 0;
}